In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/raw/BSE_metadata.csv")
data.head()

,code,name,description,refreshed_at,from_date,to_date
0,BOM500002,ABB India Limited EOD Prices,End of Day prices and additional trading infor...,2023-07-07 14:07:34,1992-03-02,2023-07-07
1,BOM500003,AEGIS LOGISTICS LTD. EOD Prices,End of Day prices and additional trading infor...,2023-07-07 14:07:34,1992-03-02,2023-07-07
2,BOM500008,AMARA RAJA BATTERIES LTD. EOD Prices,End of Day prices and additional trading infor...,2023-07-07 14:07:34,1992-03-02,2023-07-07
3,BOM500009,AMBALAL SARABHAI ENTERPRISES LTD. EOD Prices,End of Day prices and additional trading infor...,2023-07-07 14:07:34,1992-03-02,2023-07-07
4,BOM500010,HOUSING DEVELOPMENT FINANCE CORP.LTD. EOD Prices,End of Day prices and additional trading infor...,2023-07-07 14:07:34,1992-01-03,2023-07-07